@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "IBM Plex Mono", sans-serif, monospace;
}
body {
  background: #ccc;
}

.btnCreator {
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: 200px 1fr;

  .controls {
    font-size: 0.875rem;
    background: #eee;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    input {
      display: block;
    }

    label {
      display: block;
      margin: 1rem 0 0.5rem;
    }
  }
}


.css{
  color:#333;
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  
  
  span{
    display: block;
    margin-bottom: .5rem;
  }
}