/* display de adicionar e apagar conteudo refrente ao js */
/* .text{
  display: none;
}

.text.actived{
  display: block;
} */

*{
  margin: 0;
  padding: 0;
}

div{
  
  width: 24px;
  height: 24px;
  background: #999;
  border-radius: 50%;
  cursor: none;  
}

.teucu{
  background: yellow;
}