*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

div{
  width: 300px;
  height: 400px;
  background: #000;
  display: grid;
  grid-area: "ds ds ds ds"
             "rs // ** --"
             "77 88 99 ++"
             "44 55 66 .."
             "11 22 33 ok"
             "00 00 ,, ok"
}

.display{
  background: white;
  width: 200px;
  height: 50px;

  
}