img{
  max-width: 100%;
  display: block;
}

#galeria {
  max-width: 600px;
  margin: 0 auto;
  
}

#galeria ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;  
}