*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

label{
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

form{
  max-width: 400px;
  margin-inline: auto;
}

input[type='text'],input[type='email'],textarea{
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #000;
  font-size: 1rem;
  margin-bottom: .5rem;
}

textarea{
  height: 150px;
}

.invalid{
  border: 2px solid red;
}